extends ../components/page

block title
  |Астрал Академия

block link
  meta(name="description" content="Образование в сфере информационных технологий")
  link(rel="stylesheet" href="styles/main.css")

block content
  main
    .wrapper
      div.banner
        svg.logo.banner__logo
          use(href="assets/img/logo.svg#logo")
        h1.banner__heading
          |К сожалению, набор в нашу академию приостановлен, но вы можете подписаться на нас в социальных сетях и следить за анонсами! 🚀
        div.banner__links
          a(href="https://www.instagram.com/academy_astral" target="_blank" title="instagram").icon-link
            svg.icon-link__icon
              use(href="assets/img/ig.svg#ig")
          a(href="https://vk.com/astral_academy" target="_blank" title="vk").icon-link
            svg.icon-link__icon
              use(href="assets/img/vk.svg#vk")
